Everything.agda
*.agda~
*.agda#
_build
tags
/html
/src/MAlonzo/

/src/Formula
/src/Sem
/src/NF
/src/Appl
/src/CNF
/src/DP
/src/DPans
/src/DPLL
/src/DPLLans
/src/DPLI
/src/DPLIans
/src/CNFIx
/src/DPIx
/src/DPLLIx
/src/DPLIvIx
